.sliding {
    pointer-events: none;
}

.view {
    /* Android ICS BugFix: translate3d = faster */
    /*
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    */
    /* END: Android ICS BugFix: translate3d = faster */
  
    -webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 350ms;
	animation-timing-function: ease-in-out;
	animation-duration: 350ms;
}

.menu-sliding {
    -webkit-transition: left 350ms ease-in-out;
       -moz-transition: left 350ms ease-in-out;
            transition: left 350ms ease-in-out;
}
.menu-sliding section {
    pointer-events: none;
}