.sliding {
    pointer-events: none;
}

.view {
    /* Android ICS BugFix: translate3d = faster */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    /* END: Android ICS BugFix: translate3d = faster */
  
    -webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 350ms;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 350ms;
	animation-timing-function: ease-in-out;
	animation-duration: 350ms;
}

.show-menu-slide-out-to-right {
    -webkit-animation-name: menu-slideouttoright;
	   -moz-animation-name: menu-slideouttoright;
	        animation-name: menu-slideouttoright;
    
            box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
}
.show-menu-slide-in-from-right {
    -webkit-animation-name: menu-slideinfromright;
	   -moz-animation-name: menu-slideinfromright;
	        animation-name: menu-slideinfromright;
    
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
}