@-webkit-keyframes slideinfromright {
    from { -webkit-transform: translateX(100%); }
	to { -webkit-transform: translateX(0); }
}
@-webkit-keyframes slideinfromleft {
	from { -webkit-transform: translateX(-100%); }
	to { -webkit-transform: translateX(0); }
}
@-webkit-keyframes slideouttoleft {
	from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(-100%); }
}
@-webkit-keyframes slideouttoright {
    from { -webkit-transform: translateX(0); }
	to { -webkit-transform: translateX(100%); }
}

@-webkit-keyframes menu-slideinfromright {
    /* Android ICS BugFix: translate3d = faster */
    /*
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        margin-left: -50px;
    
                box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
           -moz-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
    }
    to { 
        -webkit-transform: translate3d(0, 0, 0);
        margin-left: 0px;
        
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
           -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    }
    */
    
    
    from {
        -webkit-transform: translateX(100%);
        margin-left: -50px;
    
                box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
           -moz-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
    }
    to {
        -webkit-transform: translateX(0);
        margin-left: 0px;
        
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
           -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    }
    
}
@-webkit-keyframes menu-slideouttoright {
    /* Android ICS BugFix: translate3d = faster */
    /*
    from {
        -webkit-transform: translate3d(0, 0, 0);
        margin-left: 0px;
        
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
           -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    }
    to {
        -webkit-transform: translate3d(100%, 0, 0);
        margin-left: -50px;
    
                box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
           -moz-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
    }
    */
    
    
    from {
        -webkit-transform: translateX(0);
        margin-left: 0px;
        
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
           -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
    }
    to {
        -webkit-transform: translateX(100%);
        margin-left: -50px;
    
                box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
           -moz-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 25px 0px 20px 30px rgba(0, 0, 0, 0.6);
    }
    
}